.aboutmain{
    width: 100vw;
    color: rgb(255, 255, 255);
}
.aboutmain p{
    line-height: 1.9230769231;
    letter-spacing: 0.0484615385em;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: rgba(42,42,42);
     
}
.about_div1{ 
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgb(241, 184, 184),rgb(23, 47, 23)
    );

}
.about_div11{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.about_div12{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;

}
.about_div12>img{
    width: 100vw;
}
.about_div11>h1{
    color: white;
    font-size: 6rem; 
    letter-spacing: 0.5rem;
    margin-top: 10vh;
    transform: translateY(120px);
}
.about_div2{
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 248, 250);
}
.about_div2>h1{
    font-size: calc(0.256rem + 2vw);
    letter-spacing: 0.3rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.about_div2>div{
    width: 10%;
    height: 1px;
    box-sizing: 1px;
    background-color: rgb(10, 63, 10);
}
.about_div2>p{
    font-size: 0.8rem;
    text-align: center !important;
    width: 50%;
    line-height: 1.9230769231;
    letter-spacing: 0.0484615385em;
    word-spacing: 2px;
    color: rgb(0, 0, 0);
}
.about_div3{
display: flex;
flex-direction: row;
height: 50vh;
width: 100%;
background-color: rgb(231, 248, 250);
color: black;

}
.about_div3>div{
    width: 50%;
    height: 100%;
}
.about_div31{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about_div31>img{
    width: 60%;
    overflow: hidden;

}
.about_div32{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}
.about_div32>h1{
    text-transform: uppercase;
    font-size: calc(0.256rem + 2vw);
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}
.about_div32>p{
    width: 70%;
    color: rgb(0, 0, 0);
}
.about_div4{
    width: 100%;
    height: 50vh;
    position: relative;
}
.about_div41{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.about_div42{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    position: absolute;
    gap: 20px;
    background-color: rgb(231, 248, 250);
}
.about_div42>h1{
    color: rgb(0, 0, 0);
    margin-top: 10vh;
    font-size: calc(0.256rem + 2vw);
    letter-spacing: 0.3rem;

}
.about_div42>P{
    width: 50%;
    text-align: center !important;
    color: rgb(0, 0, 0);

}
.about_div41>img{
    width: 30%;

}
.about_div42>div{
    height: 0.9px ;
    width: 70px;
    background-color: rgb(9, 50, 9);
}
.about_div5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    flex-direction: column;

}
.about_div51{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.about_div511{
    width: 50%;

}
.about_div511>img{
    width: 100%;
}
.about_div512>h1{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    margin-bottom: 20px;    
}
.about_div512{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
}
.about_div512>p{
    color: black;
}
.about_div6{
    width: 100%;
    position: relative;
}
.about_div61{
    width: 100%;
    height: 100%;

}
.about_div61>img{
    width: 100%;
    opacity: 100%;
}
.about_div62{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.289);

}
.about_div62>p{
    margin-top: 10vh;

    width: 60%;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 30px;
}
@media only screen and (max-width: 480px) {
    .about_div11>h1{
        color: white;
        font-size: 1rem; 
        letter-spacing: 0.5rem;
        margin-top: 70vh;

    }
    .aboutmain p{
        line-height: 1.9230769231;
        letter-spacing: 0.0484615385em;
        font-size: 0.6rem;
        width: 95%;
        text-align: center;
        font-weight: bold;
        color: gray;
        text-transform: capitalize;
         
    }
    .about_div62>p{
        margin-top: 10px;
    
    }
.about_div3{
    height: fit-content;
    flex-direction: column;
    

}
.about_div2{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10vh;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about_div2>h1{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: rgb(0, 0, 0);
}



.about_div42>h1{
    font-size: 1rem;
}

.about_div3>div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_div3>div>h1{
    margin-top: 2rem;
}


.about_div1_mobile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(../images/image2forabout.jpg);
    

}
.about_div1_mobile>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.179);

}
.about_div1_mobile>div{
    font-size: 1rem;
    letter-spacing: 1px;
}
}