.culinary_div1{
    width: 100%;
    height: 100vh;
    background-size: cover;

    color: rgb(255, 255, 255);
}
.culinarymain{ 
    width: 100vw;
    background-color: rgb(231, 248, 250);

}
.medicinal_highlighter{ 
    color: rgb(63, 63, 63);
    text-transform: capitalize;
    font-family: "Roboto", system-ui;
    font-style: normal;
    font-size: 0.9rem; 
    font-weight: 500;
    

}

.culinarymain p{
    line-height: 1.9230769231;
    letter-spacing: 0.0484615385em;
    font-size: 0.8rem;
    word-spacing: 1.5px;
    color: rgb(44, 44, 44);
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.culinary_div11{
    background-color: rgba(0, 0, 0, 0);
    height:100%;width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.culinary_div11>h1{
    font-size: 4.5rem;
    letter-spacing: 0.3rem;

}
.culinary_div2{
    width: 100%;
    padding: 10vh 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.culinary_div21{
    height: 50px;
    width: 70vw;
    background-color: rgb(255, 255, 255) ;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;
}
.culinary_div21>h1{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 10px 25px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;

    
} 
.avoid_overcuse{
}
.culinary_div21-h1{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
.culinary_div21-h1.true{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.culinary_div3{
    text-align: center;
}
.culinary_div31>h1{
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
} 

.culinary_div32{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.culinary_div32>h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-top: 5vh;
    margin-bottom: 3vh;
    color: rgb(0, 0, 0);
    

}

.culinary_div4{
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.culinary_div4>h1{
    text-transform: uppercase;
    font-size:  1.5rem;
    letter-spacing: 0.3rem;
   
    margin-bottom: 3vh;
    color: rgb(0, 0, 0);
    
}
.culinary_div31>p{
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-weight: bold;


}
.culinary_div4>h2,.culinary_div5>h2{
    margin-top: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.culinary_div5{
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    
}
.culinary_div5>h2{
margin-bottom: 0.5rem;
}
.culinary_div5>h1{

    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
   
    color: rgb(0, 0, 0);

}
.culinary_div31{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.culinary_div31>h1{
    margin-bottom: 15px;
    font-size: 2rem;
}
/* .culinary_div3.pilafs{
    background-color: rgb(188, 192, 224);
}
.culinary_div2.pilafs{
    background-color: rgb(188, 192, 224);
}
.culinary_div4.pilafs{
    background-color: rgb(170, 176, 221);


}
.culinary_div5.pilafs{
    background-color: rgba(142, 150, 210, 0.985);

} */

/* //////stew//////////// */
/* .culinary_div3.stew{
    background-color: #e2efcad2;
}
.culinary_div2.stew{
    background-color: #e2efcad2;
}
.culinary_div4.stew{
    background-color: #d9e9bd;


}
.culinary_div5.stew{
    background-color: #c0d599;
} */

/* //////icecream//////////// */
/* .culinary_div3.icecream{
    background-color:rgb(215, 181, 187)
}
.culinary_div2.icecream{
    background-color:rgb(215, 181, 187)
}
.culinary_div4.icecream{
    background-color:rgb(202, 154, 163)


}
.culinary_div5.icecream{
    background-color:rgb(199, 135, 147)

} */

/* //////gulab jamun//////////// */
/* .culinary_div3.gulab{
    background-color: rgb(248, 222, 211)
}
.culinary_div2.gulab{
    background-color: rgb(248, 222, 211)
}
.culinary_div4.gulab{
    background-color: rgb(250, 215, 200)
 

}
.culinary_div5.gulab{
    background-color: rgba(255, 179, 146, 0.579)

} */

@media only screen and (max-width: 480px) {
    .culinary_div11>h1{
        font-size: 1.7rem;
        letter-spacing: 2px;
    }
    
.culinary_div2{
    width: 100%;
    padding: 10px 0  ;
    display: flex;
    justify-content: center;
}
.culinary_div21{
    height: 40px;
    width: 95vw;
  
}
.culinary_div21>h1{
    font-size: calc(0.1rem + 2vw);
    letter-spacing: 1px;
    padding: 3px 5px;
    border-radius: 10px;

}
.culinary_div31>h1{
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.culinary_div31>p{
    font-size: 0.6rem;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    width: 80%;
    color: rgba(84, 84, 84, 0.838);

}
.about_div62>p{
    color: white;
}
.culinary_div32{
    padding: 10px 0;
}
.culinary_div32>h2{
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    margin-top: 10px;
    margin-bottom: 15px;
    

}
.culinary_div32>p{  
     font-size: 0.6rem;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    width: 90%;
    line-height: 15px;

}

.culinary_div4{
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.culinary_div4>h1{
    margin: 10px 0;
    font-size: 1rem;
    letter-spacing: 1.5px;
    margin-top: 3px;
    margin-bottom: 15px;
    
}
.culinary_div4>h2,.culinary_div5>h2{
    margin: 5px 0;
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-bottom: 15px;
    margin-top: 20px;
}
.culinary_div4>p,.culinary_div5>p{
    letter-spacing: 1px;
    word-spacing: 1.5px;
    width: 90%;
    font-size: 0.6rem;
    line-height: 15px;
    margin-bottom: 0;
}

.culinary_div5>h1{
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 15px;


}

}