.ks_main{
    width: 100%;
    position: relative;
    background-color: rgb(254, 236, 255);
    overflow: hidden;
  
  } 
  .ks_main h1{
    font-size: calc(0.056rem + 1.5vw);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem; 
    text-align: center;
    font-weight: 100;
  } 
  .ks_main p{
    line-height: 1.9230769231;
    letter-spacing: 0.0484615385em;
    font-size: 0.9rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .ks_main1{
    width: 100vw;
    height: 350vh;
    gap: 0;
    padding: 0;
    margin: 0;
    
  }
  .ks_main1>img{
    width: 100%;
  
  }
  .ks_main2{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 92%;
  
    background-color: rgb(254, 236, 255)
  
  }
  .ks_div1{
    background-size: cover;
    background-position: center;
    background-color:rgb(40, 11, 59);
    color: rgba(255, 255, 255, 0.912);
  
  
  }

  .ks_img2{
    padding: 0;
    margin-top:100vh ;
    height: 100vh;
  }
  .ks_img3{
    padding: 0;
    margin: 0;
    transform: translateY(-20px);
    height: 50vh;
  }
  .ks_div1{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ks_div1>p{
    font-weight: bold;
    text-align: center;
    left: 1.5px;
    word-spacing: 2px;
    text-transform: capitalize;
    line-height: 1.9230769231;
  }
  .ks_div2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50vh;
    padding: 5vh;
    align-items: start;
  }

  .ks_div2>p{
    left: 1.5px;
    
    line-height: 1.9230769231;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    width: 50%;
  
    line-height: 30px;
  }
  .ks_div31{
    margin: 5vh;
    display: flex;
    flex-direction: row;
    gap: 20vw;
  
    
  }
  .ks_div31>div{
    width: 40%;
  
    
  }
  .ks_div31>img{
    width: 30%;
    height: 100%;
  }

  #ks_cultandhar{
    width: 100%;
  }
  .ks_div31>div>p{
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.9230769231;
    color: rgb(12, 12, 12);
    font-weight: 100;
  }
 

  .ks_div11{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  
  }
  .ks_div11>h1{
    font-size: 3.8rem;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
  }
  .ks_div11>h2{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.4rem;
    font-weight: bold;

  }
  .ks_div11>p{
    color: rgba(255, 255, 255, 0.777);
    width: 60%;
    line-height: 1.9230769231;
    letter-spacing: 1px;
    font-size: 0.8rem;
    word-spacing: 2px;
    font-weight: 100;
  
  
  }
  
  .ks_main11{
    
  }
  .ks_main11>img{
    width: 100vw;
  
  }
  .img323{
    transform: translateY(-10px);
  }
  .ks_divsep{
    width: 100%;
    overflow: hidden;
    padding-top: 3rem;
  
  }
  .ks_divsep>img{
    width: 100%;
    overflow: hidden;
  
  }
  .ks_divsep1{
    overflow: hidden;

  }
  .ks_divsep2{
    width: 100%;
    height: 70vh;
    background-color: rgb(254, 236, 255)
  }
  @media only screen and (max-width: 480px) {
.ks_div11>h1{
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.ks_divsep2{
  width: 100%;
  height: 160vh;
  background-color: rgb(254, 236, 255)
}
.ks_div11>h2{
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.ks_div11>p{
  font-size: 0.6rem;
  letter-spacing: 1px;
  width: 80%;
  word-spacing: 1.5px;
  line-height: 15px;
}





.ks_div31{
  margin: 5px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  justify-content: center;
  align-items: center;

  
}
.ks_div31>div{
  width: 90%;

  
}
.ks_div31>img{
  width: 40%;
}
.ks_div31>div>h1{
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: 1.5px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
#ks_cultandhar{
  width: 120%;
  text-align: left;
}
.ks_div31>div>p{
  letter-spacing: 1px;
  line-height: 15px;
  word-spacing: 1.5px;
  font-size: 0.6rem;
  color: rgb(0, 0, 0);
  text-align: center;
}
#ks_cultandhar{
  width: 100%;
  text-align: center;
}
  }