.loginpageemain{
    width: 100vw;
    overflow-y: hidden;
    height: 100vh;
    background-color: black;
    position: relative;
}
.loginpageemain>div>video{
    width: 100vw;
}



.loginpagee_div1{
    width: 100%; 
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

    position: absolute;
    top: 0;
    left: 0; 
}
.loginpagee_div11{
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;

    border-radius: 20px;
}
.loginpagee_div11>img{
    width: 70px;
    height: auto;
}
.loginpagee_div11>h1{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    color: white;
    background: none;

    margin-bottom: 2rem;
}
.loginpagee_input{
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    background: none;

    


}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset; /* Make background transparent */
    box-shadow: 0 0 0 1000px rgba(59, 70, 76, 0.849) inset;
    -webkit-text-fill-color: #000000; /* Change text color to black */
  }
.loginpagee_input>p{
    position: absolute;
    top: 5px;
    left: 0;
    color: rgb(255, 255, 255);
    background: none;

}

.loginpagee_input>input{
    background: none;
    border: none;
    height: 30px;
    width: 250px;
    padding-left: 40px;
    overflow: hidden;
    outline: none;
    color: white;
    
    border-bottom: 2px solid rgba(255, 251, 251, 0.722);
    
}
.loginpageemain>video{
    position: absolute;
    width: auto;
    height: 100vh;
    background-position: center;
    background-size: cover;

}
.loginpagee_div11>button{
    width: 300px;
    padding: 0.8rem 0;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(67, 12, 84);
    font-weight: 100;
    font-size: 17px;
}
.loginpagee_div11>h3{
    color: white;
    font-family: 'Riviera Nights';
    margin-top: 2rem;
    font-weight: 100;
    font-size: 1rem;

}
.loginpagee_fp{
    width: 100%;
}
.loginpagee_fp>h3{
    color: white;
    font-family: 'Riviera Nights';
    margin-top: 1rem;
    margin-right: 20px;
    font-weight: 100;
    font-size: 0.8rem;
    float: right;
}

.inputemail.true,.inputpassword.true{
    border-bottom: 2px solid rgba(228, 7, 7, 0.722);
}
.loading-spinner {
    animation: spin 1s linear infinite; /* Create spin animation */
    color: #2b2e30; /* Set a color for the spinner */
  }
  
  /* Keyframes for the spin animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.inputname.true{
    border-bottom: 2px solid rgba(228, 7, 7, 0.722);


}
/* @media only screen and (max-width: 350px) {
 .loginpageemain{
    height: 200vh;
 }
.loginpageemain23{
    position: absolute;
    top: 10;
    left: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 0;
    width: 100vw;
}
.loginpageemain23>video{
    height: 100vh;
    scale: 400%;
}
} */