.Navbar_main{
    width: 100vw;
    height: 7vh;
    background: none;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal; 
    z-index: 2;
    transition: all 0.3s ease;
    
}
.Navbar_main.true{
    background-color: white; 
    color: rgb(0, 0, 0);  

}
.Navbar_main.true>div{
    color: rgb(0, 0, 0);
}
.Navbar_div1{
    display: flex;
    width: 20%;
    padding-left: 20px;
    color: white;

}
.Navbar_div1>img{
    width: 50%;
    margin-left: 10px;
}
.Navbar_div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 70%;
    color: white;
    font-weight: 350;
    letter-spacing: 1px;
    transition: all 0.3s ease;

    
}
.Navbar_div2.true{
    color: black;
}
.Navbar_div3>button{

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
    font-size: 1.1rem;
    background: none;
    color: white;
    

}
.Navbar_div3{
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 40px;
}
.Navbar_div3.true>button{
    color: black;
}
.profile_div{
    color: white;
    font-size: 0.8rem;
}
.Navbar_div3{

}
/* ////////////  profile_hover styles   /////////////////// */
.ph_main{
    position: fixed;
    z-index: 2;
    top: 7vh; 
    right: 5vw;
    background-color: white;
    width: 15vw;
    gap: 5px;
    padding: 10px;
}
.ph_main>div{
    color: black;
    letter-spacing: 1px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px; 
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.16);
}
.ph_main>div:hover{
    background-color: rgba(47, 46, 46, 0.915);
    color: white;
}
.Navbar_div11{
    display: flex;
    flex-direction: row;

}
.Navbar_div11.true>span{


}
.Navbar_div11>span{
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 0.8rem;
    margin-left: 5px;
    position: relative;
    font-family: "Jost", sans-serif;
    text-transform: capitalize;

    font-weight: 400;
    letter-spacing: 0;
   
}
.menuicon{
    cursor: url(../cursorhover.png)10 15,auto;
}
.menutext:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0; 
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .Navbar_div11.true>span:after {    
    background: #000000;

  }
  .menutext.true:after { 
    width: 100%; 
    left: 0; 
  }
  .button_user{
    text-transform: uppercase;
  }
  .button_user>span{
    font-size: 15px; 
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;
    
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;

    transition: font-size 0.2s ease-in-out;
  }
  .button_user>span:hover{
    opacity: 0.9;




  }
@media only screen and (max-width: 480px) {
    .Navbar_div2{
        font-size: 10px;

    }
  
    
.Navbar_div3>button{

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
    font-size: medium;
    background: none;
    color: white;
    

}
.Navbar_div3{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0;
}
.Navbar_div3.true>button{
    color: black;
}
}