.otp_main{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;

    
}
.otp_main>h1{
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
}
.otp_main>p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.912);
    width: 80%;
    font-size: 0.8rem;


}
.otp_form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 90%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.otp_form>label{
    color: rgb(193, 32, 32);
    font-size: 0.9rem;
    font-weight: 400;

}
.otp_form>input{
    width: 100%;
    height: 30px;

}

.otp_btn_div{
    width: 100%;
}
.otp_btn_div>button{
    width: 50%;
    margin-top: 20px;
    border: none;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 38, 182);
    text-transform: uppercase;
    font-size: 1rem;

}
.resend_div{
    width: 100%;
    padding: 10px 0;
    text-align: center;

}
.resend_div>p{
    color: rgb(231, 225, 225);


}
.resend_div>h5{
    color: rgb(216, 207, 239);
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

}
.resend_div>h4{
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 500;
    font-family: "Roboto", sans-serif;

}
.label-form{
    color: white;
}
.password-icon{
    color: white;
}
.otp_btn_div{
    display: flex;
    width: 100%;
    justify-content: center;
}