/* PaymentSuccessPage.css */
.ps_main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #b2f5ea, #a0f3f0);
display: flex;
justify-content: center;
font-family: "Roboto", system-ui;


}
.ps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 80%;
  }
  
  .ps-gradient-background {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .ps-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #00796b;
    margin-bottom: 30px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }
  .ps_text_thank{
    margin-bottom: 1rem;
    color: black;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
  }
  .ps-image {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .ps-text-base {
    font-size: 1.125rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .ps-receipt-section {
    background: #ffffff;
    border: 1px solid rgba(95, 95, 95, 0.331);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
  }
  
  .ps-receipt-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #064d45;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  
  .ps-receipt-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-family: "Roboto", system-ui;
    font-weight: 300;
    
  }
  
  .ps-hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #e0e0e0;
  }
  .ps-recipt-order{
    color: black;
    text-align: left;
    font-family: "Roboto", system-ui;
    font-weight: 300;
    margin-top: 0.5rem;
    letter-spacing: 1px;
  }
  .ps-total {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
    color: #00796b;
    padding: 10px 0;
    font-family: "Roboto", system-ui;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .ps-button {
    background-color: #0b4e46;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
  }
  
  .ps-button:hover {
    background-color: #479a8c;
  }

@media only screen and (max-width: 480px){
  .ps-heading {
    font-size: 1rem;
    margin-bottom: 20px;
    letter-spacing: 0.25rem;

  }
  .ps_text_thank{
    font-size: 12px;
  }
  .ps-recipt-order{
    color: black;
    text-align: left;
    font-family: "Roboto", system-ui;
    font-weight: 300;
    margin-top: 0.5rem;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .ps-total {
    font-size: 14px;
  }
  .ps-receipt-title {
    font-size: 1rem;
    letter-spacing: 1.7px;
  }
  .ps-button {
    background-color: #0b4e46;
    color: #ffffff;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
  }

}  
  