/* Container styling */
.privacy-container {
  padding: 40px 0px;
  background-color: #f7f7f7;
  color: #000000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-family: 'riviera';
}

.privacy-container h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 40px;
  padding: 25px 0px;
  color: black;
  /* background: linear-gradient(90deg, #a000b8, #5724ff 50%, #003efa); */
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 7px;
}

/* Flex container for sections */
.privacy-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.privacy-section {
  margin-bottom: 20px;
  /* border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; */
  border-bottom: 1px solid rgb(138, 138, 138) ;
  padding: 20px;
  width: 65%;
  overflow: hidden;
}

.privacy-section h2 {
  font-size: 0.8rem;
  /* color: #5724ff; */
  color: black;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  overflow: hidden;
}

.privacy-section:hover h2 {
  font-size: 1rem;
}

.privacy-container p,
.privacy-container li {
  font-size: 12.8px;
  color: #2c2c2c;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
}

.privacy-container ul {
  margin-left: 20px;
  padding-left: 20px;
}

.privacy-container strong {
  color: #000000;
  font-weight: 600;
}

.privacy-container li {
  margin-bottom: 10px;
}

.privacy-container .list-disc {
  list-style-type: disc;
}

.privacy-container .list-disc li {
  padding-left: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .privacy-container {
    padding: 20px;
    padding-top: 80px;
  }

  .privacy-container h1 {
    font-size: 1rem;
    letter-spacing: 3px;
    padding: 20px 0px;
  }

  .privacy-section {
    width: 90%;  /* Ensure sections take up more space on mobile */
    padding: 15px;
  }

  .privacy-section h2 {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
  }

  .privacy-container p,
  .privacy-container li {
    font-size: 0.8rem;
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .privacy-container h1 {
    font-size: 1rem;
    padding: 20px 0px;
  }

  .privacy-section h2 {
    font-size: 0.8rem;
  }

  .privacy-section {
    width: 95%;  /* Full width on very small screens */
  }

  .privacy-container p,
  .privacy-container li {
    font-size: 0.8rem;
  }
}
