.arrow_div>button {
    padding: 0.75rem 0.8rem;
    padding-left: 2rem;
    font-size: calc(0.015rem + 0.9vw);
    letter-spacing: 0.3px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    border: none;
    overflow: hidden;
    background-color: white;
    text-decoration: none;

  }
  .arrow_txt{
    z-index: -1;
    padding-left: 5px;
    transition: all 0.3s ease;
    opacity: 0;
    translate: -20px;
    overflow: hidden;
    background-color: white;


  
  }
  .arrow_txt.true{
    z-index: 1;
    opacity: 100%;
    translate: 0;
    background-color: white;

  }
  .arrow_div> button:hover {
    scale: 105%;
    opacity: 100%;
    border: none;
    background-color: white;
  }
  .arrow_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
  }
  @media only screen and (max-width: 480px) {
    .arrow_div>button {
      padding: 0.7rem 0;
      padding-left: 0.7rem;
      font-size: 10px;}
  }