:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191c29;
  font-family: sans-serif;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .card {
    width: var(--card-width);
    height: var(--card-height);
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .card:hover {
    transform: rotateY(20deg);
  }
  .cover-image {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
  }
  .title {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
  }
  .price {
    text-align: center;
    font-size: 1.2em;
    color: #e91e63;
    margin-bottom: 10px;
  }
  .card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
  }
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color: #d81b60;
  }
  